RHT_OCP4_MASTER_API=https://api.ocp-ap3.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-ap3.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=ed1e5e34-e692-4809-a5d0-8f172fdbf51c
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-ap3.prod.nextcle.com
RHT_OCP4_DEV_USER=pranjali-sabale
RHT_OCP4_DEV_PASSWORD=ae4fb5413f754fa8be3d
RHT_OCP4_GITHUB_USER=pranjalisabale
RHT_OCP4_QUAY_USER=pranjalisabale
