RHT_OCP4_MASTER_API=https://api.ocp-kydyvdxyzrrnmye200401.do280.rht-ap.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=13323cfc-fdf1-4daf-8263-458ae62fcd68
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-kydyvdxyzrrnmye200401.do280.rht-ap.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=j9yUE-yneQI-jCIUG-eAcsg
RHT_OCP4_USER_PASSWD=7cfe33000489b3c3077f3f0c66bf3da7
